@import './theme-overrides.scss';
@import './theme-variables.scss';

@keyframes fade-mobile-navbar-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  height: inherit;
  user-select: none;

  @media screen and (min-width: 1088px) {
    height: $navbar-height;
  }

  &.is-transparent {
    .navbar-menu {
      @media screen and (max-width: 1087px) {
        box-shadow: none;
      }
    }
  }

  > .container {
    @media screen and (max-width: 1087px) {
      display: flex;
    }
  }

  &-brand {
    flex-direction: row-reverse;
    max-width: 8rem;

    @media screen and (max-width: 1087px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
    }

    .navbar-link:hover {
      background-color: transparent;
    }
  }

  &-burger {
    height: inherit;
    width: auto;
    flex-grow: 0;
    width: 4.5rem;
    height: 100%;
    z-index: $z-index-backdrop + 1;

    &:hover {
      color: currentColor;
      background-color: transparent;
    }

    span {
      height: 2px;
    }
  }

  &-dropdown {
    // Showing/hiding the navbar is taken care of in JavaScript.
    display: block !important;

    @media screen and (min-width: 1088px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media screen and (max-width: 1087px) {
      padding: 0 0 0 1rem !important;
      background-color: transparent !important;
    }

    .navbar-item {
      position: relative;
      padding: 0 !important;
    }
  
    > .navbar-item {
      // &::before {
      //   content: '•';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 100%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: flex-start;
      //   opacity: 0.5;
      // }

      &:hover {
        @media screen and (min-width: 1088px) {
          background-color: $navbar-item-hover-background-color !important;
        }
      }
    }
  }

  &-item {
    padding: 0 !important;

    &.has-dropdown {
      padding: 0;

      &:hover, &.is-active {
        .navbar-dropdown .navbar-item:not(.is-active) .navbar-link:not(:hover) {
          @media screen and (min-width: 1088px) {
            background-color: $navbar-item-background-color !important;
          }
        }
      }
    }

    @media screen and (min-width: 1088px) {
      align-items: stretch;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media screen and (min-width: 1088px) {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }

    @media screen and (max-width: 1087px) {
      font-size: 1.5rem !important;

      &:hover, &:focus, &:active {
        color: $color-text;
        background-color: transparent !important;
      }
    }

    &::after,
    &:not(.is-arrowless)::after {
      display: none;
    }

    &:not(.is-arrowless) {
      padding-right: 0.75rem;
    }

    &-text {
      display: inline-block;
      padding: 0 0.3rem;
    }
  }

  &-menu {
    @media screen and (max-width: 1087px) {
      position: absolute;
      top: -$above-navbar-height;
      left: 0;
      z-index: $z-index-backdrop;
      width: 100%;
      height: 100vh;
      background: rgba($color-primary, 0.9);
      box-sizing: content-box;
      padding-top: $navbar-height; 
      padding-bottom: 0;
      justify-content: center;
      animation: fade-mobile-navbar-in 100ms linear;
    }

    &.is-active {
      @media screen and (max-width: 1087px) {
        display: flex;
      }
    }
  }
}
