// Base colors.
$white: #fff;
$gray-lightest: #fafdff;
$gray-lighter: #dbeaee;
$gray-light: #a5aeaf;
$gray-medium: #808a8d;
$gray-dark: #606a6d;
$gray-darker: #3f464a;
$gray-darkest: #201e22;
$off-white: $gray-lightest;
$gray: $gray-medium;

// Theme colors.
$color-primary: #00b0ff;
$color-accent: #DD2751; // #ff3c7c;
$color-bg: $gray-lightest;
$color-bg-dark: darken($color-bg, 1%);
$color-bg-reverse: $gray-darkest;
$color-text: $gray-darker;
$color-text-reverse: $white;

// Theme typography.
$size-jumbo: 7rem;
$size-jumbo-mobile: 4.5rem;

// Misc.
$above-navbar-height: 1.8rem;
$above-navbar-bg-color: $color-bg-reverse;
$above-navbar-color: $color-text-reverse;
$html-font-size: 16px;
$navbar-height-base: 5rem;
$navbar-extra-height: 1.5rem; // Used only for padding to make transparent gradient appear fuller.
$z-index-backdrop: 100;
$shop-home-carousel-feaux-scroll: false;
