
<nav class="navbar qb-navbar-dark is-fixed-top"
  role="navigation"
  aria-label="main navigation"
  [ngClass]="{
    'is-transparent': isNavbarTransparent$ | async
  }"
  [ngStyle]="{
    display: 'flex',
    flexFlow: 'column',
    transition: 'all 300ms',
    paddingBottom: navbarPaddingBottom$ | async
  }">
  <div class="above-navbar"
    [ngStyle]="{
      height: aboveNavbarHeight,
      minHeight: aboveNavbarHeight,
      backgroundColor: aboveNavbarBgColor,
      color: aboveNavbarColor
    }">
    <div class="container">
    </div>
  </div>
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="navbar-link" [routerLink]="['/']">
          <img src="assets/brand/logo.svg">
        </a>
      </div>
      <a role="button"
        class="navbar-burger"
        [ngClass]="{ 'is-active': mobileNavIsActive }"
        [attr.aria-expanded]="mobileNavIsActive"
        (click)="toggleMobileNav()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu"
      [ngClass]="{ 'is-active': mobileNavIsActive }">
      <qb-web-navigation-list
        class="navbar-start"
        [id]="'shop-navigation'"
        [items]="navigationItems">
      </qb-web-navigation-list>
    </div>
  </div>
</nav>

<div class="shop-routes">
  <router-outlet></router-outlet>
</div>
