
<nav class="navbar is-transparent qb-transparent-dark is-fixed-top"
  role="navigation"
  aria-label="main navigation"
  [ngStyle]="{
    display: 'flex',
    flexFlow: 'column'
  }">
  <div class="above-navbar"
    [ngStyle]="{
      height: aboveNavbarHeight,
      minHeight: aboveNavbarHeight,
      backgroundColor: aboveNavbarBgColor,
      color: aboveNavbarColor
    }">
    <div class="container">
    </div>
  </div>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
        <img src="assets/brand/logo.svg">
      </a>
    </div>
    <div class="navbar-menu">
      <qb-web-navigation-list
        class="navbar-start"
        [id]="'shop-navigation'"
        [items]="navigationItems">
      </qb-web-navigation-list>
    </div>
  </div>
</nav>

<div class="shop-routes">
  <router-outlet></router-outlet>
</div>
