<nav class="navbar is-transparent qb-transparent-dark is-fixed"
  role="navigation"
  aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
        <img src="assets/brand/logo.svg">
      </a>
    </div>
    <div class="navbar-menu">
      <qb-web-navigation-list
        class="navbar-start"
        [id]="'shop-navigation'"
        [items]="navigationItems">
      </qb-web-navigation-list>
    </div>
  </div>
</nav>

<div class="shop-routes">
  <router-outlet></router-outlet>
</div>
